
/*
    Noughts crosses style
    January 18 2026
    This is the main style sheet for the noughts and crosses simple game.
*/

html, body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}

nav {
    text-align: center;
    padding: 5%;
    margin: 0;
}

main {
    padding: 2%;
}

#game, footer {
    text-align: center;
}

footer {
    padding: 5%;
    margin: 5%;
}

#buttonBoard {
    padding: 2%;
    margin-left: 10%; 
    width: 75%;
}

#btnPlay {
    padding: 2%;
    margin-top: 2%;
    background-color: royalblue;
    color: white;
    font-size: 2em;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}

#btnPlay:hover {
    background-color: white;
    color: black;
}

.hidePlayButton, .hideStats, .hideButtonBoard {
    display: none;
}

.showPlayButton, .showStats, .showButtonBoard {
    display: block;
}


.gameButtonNeutral {
    font-size: 2em;
    background-color: beige;
    height: 50px;
    width: 80px;
    margin: 5px;
    border-style: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
}

.gameButtonNeutral:hover {
    background-color: white;
}

.gameButtonCrosses {
    font-size: 2em;
    background-color: lightgreen;
    height: 50px;
    width: 80px;
    margin: 5px;
    border-style: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
}

.gameButtonNoughts {
    font-size: 2em;
    background-color: lightcoral;
    height: 50px;
    width: 80px;
    margin: 5px;
    border-style: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px black;
}
